{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
</head>
<body>

<div class="container">

    <!-- Product Section -->
    <div class="product-section">

        <div class="product-image">
            <img src="{% static 'images/frandom6.jpg' %}" alt="Product">
        </div>

        <div class="product-details">

            <h1>V-Neck Full Sleeves Sweater</h1>

            <h2>₹752 <span>₹783</span></h2>

            <p class="offer">4% OFF | Free Delivery</p>

            <table>

                <tr>
                    <td><b>Fabric</b></td>
                    <td>Acrylic</td>
                </tr>

                <tr>
                    <td><b>Color</b></td>
                    <td>Pink</td>
                </tr>

                <tr>
                    <td><b>Size</b></td>
                    <td>S, M, L, XL, XXL</td>
                </tr>

                <tr>
                    <td><b>Pattern</b></td>
                    <td>Striped</td>
                </tr>

                <tr>
                    <td><b>Net Quantity</b></td>
                    <td>1</td>
                </tr>

                <tr>
                    <td><b>Fit/Shape</b></td>
                    <td>Regular</td>
                </tr>

                <tr>
                    <td><b>Delivery</b></td>
                    <td>3-5 Days</td>
                </tr>

                <tr>
                    <td><b>UPI Payment</b></td>
                    <td>PhonePe, Google Pay, Paytm, BHIM</td>
                </tr>

                <tr>
                    <td><b>Return Policy</b></td>
                    <td>7 Days Easy Return</td>
                </tr>

            </table>

            <div class="buttons">
               <form method="POST" action="{% url 'add_to_cart' %}">

    {% csrf_token %}

    <input type="hidden" name="product_name" value="Beautiful Piece">

    <input type="hidden" name="price" value="599">
    <button type="submit" class="add-cart-btn">
        🛒 Add to Cart
    </button>

</form>
                <a href="{% url 'payment' %}?product= My Product &price=1000"
   class="buy-btn">
    Buy Now
</a>
            </div>

        </div>

    </div>

    <!-- Product Description -->

   <!--> <div class="description">

        <h2>Product Description</h2>

        <p>
            This beautiful cotton printed kurti is made using premium quality
            fabric. It is soft, comfortable and suitable for casual as well as
            festive occasions.
        </p>

    </div>-->

    <!-- Related Products -->

    <h2 class="heading">Related Products</h2>

    <div class="related-products">

        <div class="card">
            <a href="{% url 'frandom10' %}">
            <img src="{% static 'images/frandom10.jpg' %}">
            <h3>Royal Bridal Lehenga Set</h3>
            <p>₹11699</p></a>
        </div>

        <div class="card">
            <a href="{% url 'frandom3' %}">
            <img src="{% static 'images/frandom3.jpg' %}">
            <h3>Short Dress</h3>
            <p>₹336</p></a>
        </div>

        <div class="card">
            <a href="{% url 'frandom4' %}">
            <img src="{% static 'images/frandom4.jpg' %}">
            <h3>Retro Women Top & Bottom Set</h3>
            <p>₹363</p><a>
        </div>

        <div class="card">
            <a href="{% url 'frandom2' %}">
            <img src="{% static 'images/frandom2.jpg' %}">
            <h3>Full Sleeves Women Top</h3>
            <p>₹215</p></a>
        </div>
        <div class="card">
            <a href="{% url 'frandom8' %}">
            <img src="{% static 'images/frandom8.jpg' %}">
            <h3>Daily Wear Tank Top</h3>
            <p>₹269</p></a>
        </div>

        <div class="card">
            <a href="{% url 'frandom5' %}">
            <img src="{% static 'images/frandom5.avif' %}">
            <h3>Pullover Sweater </h3>
            <p>₹878</p></a>
        </div>

        <div class="card">
            <a href="{% url 'frandom12' %}">
            <img src="{% static 'images/frandom12.jpg' %}">
            <h3>Pink Western Gown</h3>
            <p>₹8099</p></a>
        </div>

        <div class="card">
            <a href="{% url 'frandom11' %}">
            <img src="{% static 'images/frandom11.jpg' %}">
            <h3>White Bridal Gown</h3>
            <p>₹10799</p></a>
        </div>


    </div>

</div>

</body>
</html>