{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
</head><body>

<div class="container">

    <!-- Product Section -->
    <div class="product-section">

        <div class="product-image">
            <img src="{% static 'images/tv4.jpg' %}" alt="Product">
        </div>

        <div class="product-details">

            <h1>Short Korean Dress</h1>

            <h2>₹1999 <span>₹1799</span></h2>

            <p class="offer">10% OFF | Free Delivery</p>

            <table>

                <tr>
                    <td><b>Fabric</b></td>
                    <td>Pure Cotton</td>
                </tr>

                <tr>
                    <td><b>Available Colors</b></td>
                    <td>Blue, Black, Pink, Green</td>
                </tr>

                <tr>
                    <td><b>Size</b></td>
                    <td>S, M, L, XL, XXL</td>
                </tr>

                <tr>
                    <td><b>Brand</b></td>
                    <td>Fashion World</td>
                </tr>

                <tr>
                    <td><b>Company</b></td>
                    <td>ABC Fashion Pvt. Ltd.</td>
                </tr>

                <tr>
                    <td><b>Warranty</b></td>
                    <td>6 Months Stitching Warranty</td>
                </tr>

                <tr>
                    <td><b>Delivery</b></td>
                    <td>3-5 Days</td>
                </tr>

                <tr>
                    <td><b>Cash On Delivery</b></td>
                    <td>Available (₹40 Charge)</td>
                </tr>

                <tr>
                    <td><b>UPI Payment</b></td>
                    <td>PhonePe, Google Pay, Paytm, BHIM</td>
                </tr>

                <tr>
                    <td><b>Return Policy</b></td>
                    <td>7 Days Easy Return</td>
                </tr>

            </table>

            <div class="buttons">
               <form method="POST" action="{% url 'add_to_cart' %}">

    {% csrf_token %}

    <input type="hidden" name="product_name" value="Beautiful Piece">

    <input type="hidden" name="price" value="599">
    <button type="submit" class="add-cart-btn">
        🛒 Add to Cart
    </button>

</form>
                <a href="{% url 'payment' %}?product= My Product &price=1000"
   class="buy-btn">
    Buy Now
</a>
            </div>

        </div>

    </div>

    <!-- Product Description -->

    <div class="description">

        <h2>Product Description</h2>

        <p>
            This beautiful cotton printed kurti is made using premium quality
            fabric. It is soft, comfortable and suitable for casual as well as
            festive occasions.
        </p>

    </div>

    <!-- Related Products -->

    <h2 class="heading">Related Products</h2>

    <div class="related-products">

        <div class="card">
            <a href="{% url 'tv3' %}">
            <img src="{% static 'images/tv3.jpg' %}">
            <h3>Royal Bridal Lehanga Set</h3>
            <p>₹11699</p></a>
        </div>

        <div class="card">
            <a href="{% url 'tv4' %}">
            <img src="{% static 'images/tv4.jpg' %}">
            <h3>Printed Pant</h3>
            <p>₹1169</p></a>
        </div>

        <div class="card">
            <a href="{% url 'tv1' %}">
            <img src="{% static 'images/tv1.jpg' %}">
            <h3>Designer Pant</h3>
            <p>₹1799</p><a>
        </div>

        <div class="card">
            <a href="{% url 'fri2' %}">
            <img src="{% static 'images/fri2.jpg' %}">
            <h3>Party Wear Pant</h3>
            <p>₹899</p></a>
        </div>
        <div class="card">
            <a href="{% url 'fri5' %}">
            <img src="{% static 'images/fri5.jpg' %}">
            <h3>Blue Pant</h3>
            <p>₹269</p></a>
        </div>

        <div class="card">
            <a href="{% url 'ac2' %}">
            <img src="{% static 'images/ac2.jpg' %}"v>
            <h3>Printed Pant</h3>
            <p>₹899</p></a>
        </div>

        <div class="card">
            <a href= "{% url 'fri1' %}">
            <img src="{% static 'images/fri1.jpg' %}">
            <h3>Red Western Gown</h3>
            <p>₹8099</p></a>
        </div>

        <div class="card">
            <a href="{% url 'kt1' %}">
            <img src="{% static 'images/kt1.jpg' %}">
            <h3>White Bridal Gown</h3>
            <p>₹10799</p></a>
        </div>

    </div>

</div>

</body>
</html>